@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

html.dark body {
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}